{% extends 'layouts/base.html'%}

{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ab laudantium sunt dolor repudiandae maiores iure ipsa veritatis quod a mollitia cumque reiciendis, inventore facere perferendis in porro, non quibusdam velit nihil eligendi rerum obcaecati est doloribus? Illo omnis quae ad! Exercitationem, vero enim sit repellat deleniti rem dicta rerum corporis, facere fugit fugiat. Saepe neque repellat molestias necessitatibus accusamus ad, culpa similique laudantium dolores inventore, eveniet blanditiis pariatur commodi esse. Cumque culpa iste similique tenetur laudantium veritatis commodi ipsam placeat. Asperiores, earum explicabo non minus hic eum! Repellat rem tempora sed facilis perferendis odio officia. Inventore cum amet laborum?</p>

<p>Website created by {{ username }}</p>

{% endblock %}